@model ProductGroupViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.CreateDate.ToShamsi()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.ModifiDate?.ToShamsi()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"class="btn btn-sm btn-outline-warning">ویرایش</a> |
    <a asp-action="Index"> بازگشت  به لیست  </a>
</div>
